.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
generated/
/bin/
authkey.properties
/src/main/resources/config/authkey.properties
/out/production/resources/application.properties
/src/main/resources/application.properties
/src/main/resources/META-INF/
